@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

header {
    margin-left: 100px;
    margin-top: 30px;
}

#logotipo {
    width: 160px;
    height: 34px;
    border: solid 1px #333;
    position:relative;
    float: left;
}

#busca-topo {
    width: 500px;
    height: 24px;
    position:relative;
    float:right;
}

.busca {
    width: 418px;
    height: 24px;
    border: solid 1px #333;
}

nav {
    font-family: Arial,sans-serif;
    color: #333;
}
/*.container {
    width: 700px;
    height: 600px;
}*/

.banner {
    width: 850px;
    height: 320px;
    position: relative;
    left: 100px;
    top: 100px;
    border: solid 1px #eee;
    border-radius: 10px;
}

.iphone {
    width: 390px;
    height: 200px;
    background: url('../imagens/iphone.png') no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

h1 {
    font-family: Arial;
    font-style: normal;
    position: relative;
    left: 80px;
    top: 50px;
}

.descricao {
    width: 200px;
    position: relative;
    left: 90px;
    top: 30px;
    font-family: Arial;
    font-size: 20px;
}
