@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #333;
}

main {
    margin-left: 200px;
    margin-top: 0px;
}

.bloco {
    width: 250px;
    height: 450px;
    border: 1px solid #333;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Arial;
    font-size: 12px;
    background-color: rgba(16,16,16,0.8);
    color: #e1e1e1;
}

    .bloco img {
        height: 360px;
        width: 250px;
    }

